<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

	<pluginGroups>
		<pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
	</pluginGroups>

	<proxies></proxies>

	<servers>
		<server>
		<!--NEXUS-ID - this id will should be used in project pom.xml distributionManagement tag-->
			<id>NEXUS-ID</id>
			<username>ENTER-NEXUS-USER</username>
			<password>ENTER-NEXUS-PASSWORD</password>
		</server>
	</servers>
	<mirrors></mirrors>



<profiles>
    <profile>
	<id>SONAR-ID</id>
	<properties>
          <sonar.jdbc.url>ENTER-SONAR-CONNECTION-STRING</sonar.jdbc.url>
          <sonar.jdbc.driver>ENTER-SONAR-DRIVER</sonar.jdbc.driver>
          <sonar.jdbc.username>ENTER-SONAR-USER</sonar.jdbc.username>
          <sonar.jdbc.password>ENTER-SONAR-PASSWORD</sonar.jdbc.password>
          <!-- SERVER ON A REMOTE HOST -->
          <sonar.host.url>ENTER-SONAR-URL</sonar.host.url>		
	</properties>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>SONAR-ID</activeProfile>
  </activeProfiles>
</settings>
