.pagination > .active > span:focus {
  color: white;
  background-color: green;
  border-color: green;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: grey;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

