<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="30 seconds">    
<appender name="RollingFile-Appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
  <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
   <fileNamePattern>/var/log/tomcat8/buildon_rollingfile.%d{yyyy-MM-dd}.%i.log</fileNamePattern>    
	<!--Keep logs maximum of #.days For Example: 1 .Always enable this logically. If debug mode enabled, then reduce the days to keep logs-->
    <maxHistory>15</maxHistory>
	<totalSizeCap>1GB</totalSizeCap>
    <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
      <maxFileSize>5MB</maxFileSize>
    </timeBasedFileNamingAndTriggeringPolicy>
  </rollingPolicy>
  <encoder>
    <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
  </encoder>
  <prudent>true</prudent>
</appender>
<!--Enable log level on demand - info, debug, error, trace, warn -->  	
	<root level="debug">
        <appender-ref ref="RollingFile-Appender" />
	</root>
</configuration>